/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/straight/
/emacs-backup/
/tree-sitter/
/recentf
/url/
/mc-lists.el
*~undo-tree~
/.mc-lists.el
/bookmarks
/savehist
/saveplace
/intelephense/
/lsp-cache/
/request/
/.dap-breakpoints
/personal/org2blog.el
/.extension/
/.lsp-session-v1
/.org-id-locations
/dap-ui-repl-php-history
*.elc
/gptel-crowdsourced-prompts.csv
/logview-cache.extmap
/session.*
/tramp
/workspace/
.aider*
