/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/straight/
/emacs-backup/
/tree-sitter/
/recentf
/url/
/mc-lists.el
*~undo-tree~
/.mc-lists.el
/bookmarks
/savehist
/saveplace
